<div class="container mt-3">
  <div class="row">
    <div class="col-5 mx-auto">
      <h2>User info</h2>

      <%= form_with model: @user, html: { multipart: true } do |f| %>

        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <h5><%= @user.errors.count %> error occurred:</h5>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, class: "form-control mt-2 mb-3" %>
        </div>
        <div class="form-group">
          <label>Image</label><br>
          <%= f.file_field :profile_image, class: "form-control-file mt-2 mb-3 ", accept: "image/*" %>
        </div>
        <div class="form-group">
          <label>Introduction</label>
          <%= f.text_area :introduction, class: "form-control mt-2 mb-3" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update User", class: "btn btn-secondary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
