<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'users/user_info' %>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <% if user.profile_image.attached? %>
                  <%= image_tag user.profile_image, style: "width: 50px; height: 50px; object-fit: cover;" %>
                <% else %>
                  <%= image_tag "no_image.jpg", style: "width: 50px; height: 50px; object-fit: cover;" %>
                <% end %>
              </td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>