<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <h2>Sign up</h2>

      <%= form_with model: @user do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <h5><%= @user.errors.count %> error occurred:</h5>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email_address %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <em>(6 characters minimum)</em><br>

          <%= f.password_field :password %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-sm text-white", style: "background-color: #28a745;" %>
        </div>
      <% end %>

      <%= link_to "Log in", new_session_path, class: "text-decoration-none" %>
    </div>
  </div>
</div>