<div class="container mt-3">
  <div class="row">
    <%= render 'users/user_info' %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-borderless border-top">
        <tr>
          <td rowspan="2">
            <% if @book.user.profile_image.attached? %>
              <%= image_tag @book.user.profile_image, style: "width: 100px; height: 100px; object-fit: cover; border: 1px solid #ccc;" %>
            <% else %>
              <%= image_tag "no_image.jpg", style: "width: 100px; height: 100px; object-fit: cover; border: 1px solid #ccc;" %>
            <% end %>
            <p><%= link_to @book.user.name, user_path(@book.user), style: "text-decoration: none;" %></p>
          </td>
          <td><%= link_to @book.title, book_path(@book), class: "text-decoration-none hover-underline" %></td>
          <td><%= @book.body %></td>
          <% if @book.user == Current.session.user %>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm", style: "background-color: #28a745; color: white;"  %></td>
            <td><%= link_to "Destroy", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" }, class: "btn btn-danger btn-sm" %></td>
          <% end %>
            <td style="white-space: nowrap;">
              <%= turbo_frame_tag dom_id(@book, :favorite) do %>
                <%= render 'favorites/favorite_btn', book: @book %>
              <% end %>
            </td>
            <td>
              閲覧数: <%= @book.views_count %>
            </td>
          </td>
        </tr>
      </table>

      <%# コメント一覧 %>
      <div id="book_comments">
        <%= render 'book_comments/book_comments', book: @book %>
      </div>

      <%# コメント投稿フォーム %>
      <div id="book_comment_form">
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>